.pokemon {
  display: block;
  margin: auto;
  margin-top: 10rem;
  border-radius: 10px;
  text-wrap: nowrap;
  width: 35rem;
  cursor: url('https://cdn.custom-cursor.com/db/249/32/arrow2282.png'), auto;
  z-index: 1;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.info{
  justify-content: center;
  text-align: center;
  padding-bottom: 2rem;
}

.name{
  padding-top: 2rem;
  font-family: sans-serif;
  font-size: 30px;
  font-weight: 600;
  letter-spacing: 1.5;
  filter: brightness(1.25);
  text-shadow: 1px 1px 2px rgb(67, 67, 67), 0 0 1em rgb(0, 0, 0), 0 0 0.2em rgb(0, 0, 0);
}